<!DOCTYPE html> 
<html>

<head> 
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Add Title here{% endblock %}</title> 
</head>

<body> 
<a href="/">Main page</a>
{% block content %}{% endblock %}
</body> 
</html> 
