{% extends "base.html" %}

{% block title %}Data Comparison{% endblock %}

{% block content %}

<form action="compare" method="post">
	<table>
	<tr><td>Production Data</td><td>Integration Data</td></tr>
	<tr>
		<td><textarea rows="25" cols="60" name="prod_data"></textarea></td>
		<td><textarea rows="25" cols="60" name="int_data"></textarea></td>
	</tr>
	</table>
	<input type="submit" value="Compare" />

</form>

{% endblock %}