<!DOCTYPE html> 
<html>

<head> 
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ title }}</title> 
</head>

<body> 
<h1>Testing Tools and Services</h1>
<ul>
	<li><a href="verify_lists">Verify Lists</a></li>
	<li><a href="compare">Compare Two Tables</a></li>
</ul>
{{ content }} 
</body> 
</html> 
