{% extends "base.html" %}

{% block title %}Data Comparison Results{% endblock %}

{% block content %}
Verification Report:
<p>{{ content }}</p>

<a href="/verify_lists">Back to List Verification page</a>
{% endblock %}

